 
 <!-- button for logout-->
 <nav>
  <button id="logout" class="btn-no-style">logout</button>
  <a href="/login">login</a>
</nav>
<!-- link logout.js-->
 <script src="/public/js/logout.js"></script>
