<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <form class="edit-item-form">
            <div class="field">
                <label class="label" for="item-title" >Title</label>
                <div class="control">
                    <input class="input" type="text" id="item-title" name="item-title" placeholder="{{item.item_name}}" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="item-text">Item Description</label>
                <div class="control">
                    <input class="input" type="text" id="item-text" name="item-text" placeholder="{{item.item_description}}" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="item-inventory">Inventory</label>
                <div class="control">
                    <input class="input" type="text" id="item-inventory" name="item-inventory" placeholder="{{item.inventory}}" />
                </div>
            </div>
            <div class="field">
                <label class="label">Category</label>
                <div class="control">
                    <input class="input" type="text" name="category" id="category"
                        placeholder="{{item.category_id}}:  Reference Categories For ID" />
                </div>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <button class="button is-link" type="submit" class="btn">Update</button>
                </p>
                <p class="control">
                    <button class="button is-danger delete-post-btn" type="submit" class="btn">Delete</button>
                </p>
            </div>
        </form>
    </div>
</div>


<script src="/javascript/edit-item.js"></script>
<script src="/javascript/delete-item.js"></script>