<section class="hero is-small is-link">
  <div class="hero-body has-text-centered">
    <p class="title">
      The Collector's Vault
    </p>
  </div>
</section>

<div class="columns is-multiline is-desktop">
{{#each items as |item|}}
{{> item-info item}}
{{/each}}
</div>



