<!--login form template -->
<form class="login-form">
  <div class="field">
    <label class="label" for="email-login">Email:</label>
    <div class="control">
      <input class="input" type="text" id="email-login" placeholder="e.g. alexsmith@gmail.com" />
    </div>
  </div>
  <div class="field">
    <label class="label" for="password-login">Password:</label>
    <div class="control">
      <input class="input" type="password" id="password-login"  />
    </div>
  </div>
  <div class="control">
    <button class="button is-link" type="submit">Login</button>
  </div>
</form>

<!--signUp form template -->
<form class="signup-form">
  <div class="field">
    <label class="label" for="username-signup">Username:</label>
    <div class="control">
      <input class="input" type="text" id="username-signup" placeholder="e.g. alex123" />
    </div>
  </div>
  <div class="field">
    <label class="label" for="email-signup">Email:</label>
    <div class="control">
      <input class="input" type="text" id="email-signup" placeholder="e.g. alexsmith@gmail.com" />
    </div>
  </div>
  <div class="field">
    <label class="label" for="password-signup">Password:</label>
    <div class="control">
      <input class="input" type="password" id="password-signup"/>
    </div>
  </div>
  <div class="control">
    <button class="button is-link" type="submit">signup</button>
  </div>
</form>
<script src='/javascript/login.js'></script>
