
<div class="container">
  <h2 class="title pb-4">Login:</h2><hr>
    <form id="loggin-form" class="login">
    <label for="email-login">Email:</label>
    <input type="text" placeholder="Enter Email" id="email" autofocus="true" required/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter Password" id="password-login" autofocus="true" required />
  </div>
  <div>
    <button type="submit" class="btn">Login</button>
    <a href="" type="button" class="logging">Sign-up</button></a>
  </div>
</form>
</div>

<!-- javascript file-->
<script src=""></script>