<div class="containerOut">
        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout">
            <button type="submit" class="btn">Logout</button>
    </form>
</div>